<div class="container">
  <h1>Envianos tu duda y/o solicitud</h1>
  <h3 class="description">Si necesitas más información acerca de nuestros productos o deseas hacer alguna sugerencia a nuestra marca puedes escribirnos llenado los siguientes campos </h3>
  <form>
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" id="alterEgo" required>
    </div>

    <div class="form-group">
      <label>Asunto</label>
      <input type="text" class="form-control" id="alterEgo" required>
    </div>

    <div class="form-group">
      <label>Comentario</label>
      <textarea rows="4" cols="50" class="form-control" id="comment" required> </textarea>
    </div>

    <button type="submit" class="btn">Enviar</button>

  </form>
</div>