<div class="grid">
  <div> <img src="../../assets/woman1.jpg/"  width="160" height="200">
      <h4><b>Vestido negro</b></h4> 
      <button class="btn">Comprar</button>
    </div>
  <div >
    <div> <img src="../../assets/woman2.jpg/"width="160" height="200">
      <h4><b>Camiseta azul</b></h4> 
      <button class="btn">Comprar</button>
    </div>
  </div>
  <div >
    <div> <img src="../../assets/woman3.jpg/" width="160" height="200">
      <h4><b>Chaqueta Jean</b></h4> 
      <button class="btn">Comprar</button>
    </div>
  </div>
  <div >
    <div> <img src="../../assets/woman4.jpg/" width="160" height="200">
      <h4><b>Jean Denim</b></h4> 
      <button class="btn">Comprar</button>
    </div>
  </div>
  <div >
    <div> <img src="../../assets/woman5.jpg/" width="160" height="200">
      <h4><b>Vestido rojo</b></h4> 
      <button class="btn">Comprar</button>
    </div>
  </div>
  <div >
    <div> <img src="../../assets/woman6.jpg/" width="160" height="200">
      <h4><b>Camiseta blanca</b></h4> 
      <button class="btn">Comprar</button>
    </div>
  </div>
</div>
